header, footer {
    background: none repeat scroll 0 0 cadetblue;
    color: #000000;
    font-size: 20px;
    padding: 5px 20px;
}

footer {
    margin: 20px 0;
}

table {
    border-collapse: collapse;
}

table, tr, td {
    padding: 3px;
    border: 1px solid black;
}

body {
    font-family: "Arial Black", serif;
    font-size: 16px;
    color: black;
}


