header, footer {
    background: none repeat scroll 0 0 cadetblue;
    color: #000000;
    font-size: 20px;
    padding: 5px 20px;
}

footer {
    margin: 20px 0;
}

table {
    border-collapse: collapse;
}

table, tr, td {
    padding: 3px;
    border: 1px solid black;
}

body {
    font-family: "Arial Black", serif;
    font-size: 16px;
    color: black;
}

dl {
    background: none repeat scroll 0 0 #A6C9E2;
    color: #2E6E9E;
    font-size: 20px;
    padding: 5px 20px;
    margin: 20px 0;
}

dt {
    display: inline-block;
    width: 170px;
}

dd {
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
}

p1 {
    font-size: 20px;
    display: block;
    background: none repeat scroll 0 0 #A6C9E2;
}